/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/pages/popular/index.css ***!
  \*****************************************************************************************************************************************************/



.J6g0EDc5cxLrMfbwD_Hv{
  text-align: center;
}
.uBkpd7YgNtiwK1VOVvvg {
  width: 100%;
  margin-top: 10px;
}
.uBkpd7YgNtiwK1VOVvvg a {
  padding: 0 25px;
  cursor: pointer;
  font-weight: 600;
}
.uBkpd7YgNtiwK1VOVvvg ._Q7TtaKFpKfILLGWedPA {
  color: #1890ff;
}
.X6OKJZ3RPdDkuPezgZrS {
  padding: 0 200px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}
.X6OKJZ3RPdDkuPezgZrS>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.X6OKJZ3RPdDkuPezgZrS .IXjWRBIJogYtHdyVU7Ph {
  max-width: 250px;
  min-width: 200px;
  background-color: #EBEBEB;
  margin: 20px 15px;
  height: 370px;
  padding: 15px;
}
.X6OKJZ3RPdDkuPezgZrS .IXjWRBIJogYtHdyVU7Ph ._3K8BXrJ_C9D29s_0pqM {
  width: 100%;
}
.X6OKJZ3RPdDkuPezgZrS .IXjWRBIJogYtHdyVU7Ph ._3K8BXrJ_C9D29s_0pqM img {
  width: 125px;
}
.X6OKJZ3RPdDkuPezgZrS .IXjWRBIJogYtHdyVU7Ph .eO6M77gjmMZVIwY_IGH_ {
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 10px;
}
.X6OKJZ3RPdDkuPezgZrS .IXjWRBIJogYtHdyVU7Ph .N2zFZk0dcUSWvs0rQA7x {
  line-height: 25px;
  color: red;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.X6OKJZ3RPdDkuPezgZrS .IXjWRBIJogYtHdyVU7Ph .Z4qwAzW2dh7JB2lBW9XB {
  padding-left: 10%;
  margin: 10px 0;
}
/*.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 99999;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}
.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
} */
/* @keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */
._c7jyweK5J4NHUIvDQbF {
  width: 60%;
  padding: 30px;
  background-color: lightpink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "微软雅黑";
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
._c7jyweK5J4NHUIvDQbF span {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}


.Z4qwAzW2dh7JB2lBW9XB i{
  width: 20px;
  margin-right: 5px;
}

.KImyZ5GR9XFXpQM_A12h{
  color: green;
}
.iOxGBmyUBEcAwnm5u2Lz{
  color: yellow;
}
.yC9R15OfXR00s_uIbbJb{
  color:blue;
}
.WJdz39XNMHg4qkk873XF{
  color: pink;
}

@media (max-width: 800px){
  .X6OKJZ3RPdDkuPezgZrS>div {
    padding:0 20px;
  }
  .uBkpd7YgNtiwK1VOVvvg span{
    padding: 0 10px;
  }
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/pages/index.css ***!
  \*********************************************************************************************************************************************/
.VvuP10cuuAAk2Hh7Qfse{
    height: 25px;
    padding: 10px 50px 0;
  }
  .AOoMlMt2XYH_GwHwVlYH{
    color: #1890ff;
  }
  .VvuP10cuuAAk2Hh7Qfse a{
    margin: 0 30px;
  }

.GDFkXHcri9feQQzRBC8Y {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 99999;
  }
  .JJRqg0Z8INYqJ0A1DLdX {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .nanw7n4ynLAGsykyKCxV {
    -webkit-animation: VbzUqnEhUrXXdJqq986D 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
            animation: VbzUqnEhUrXXdJqq986D 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
  }
  .hi7x6M8bfY_Z93lRUIBj {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(1) {
    -webkit-animation-delay: -50ms;
            animation-delay: -50ms;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(2) {
    -webkit-animation-delay: -100ms;
            animation-delay: -100ms;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(3) {
    -webkit-animation-delay: -150ms;
            animation-delay: -150ms;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(4) {
    -webkit-animation-delay: -200ms;
            animation-delay: -200ms;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(5) {
    -webkit-animation-delay: -250ms;
            animation-delay: -250ms;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(1) .hi7x6M8bfY_Z93lRUIBj {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(2) .hi7x6M8bfY_Z93lRUIBj {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(3) .hi7x6M8bfY_Z93lRUIBj {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(4) .hi7x6M8bfY_Z93lRUIBj {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
  }
  .nanw7n4ynLAGsykyKCxV:nth-child(5) .hi7x6M8bfY_Z93lRUIBj {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
  }
  @-webkit-keyframes VbzUqnEhUrXXdJqq986D {
    0%,
    15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes VbzUqnEhUrXXdJqq986D {
    0%,
    15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/pages/battle/battle.css ***!
  \*****************************************************************************************************************************************************/
.qcEIFLHGRL2QU2zYjunJ{

}
.WpiBuMTvpeACGE48YF6Z {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.U11LM8NyWNxtly6JH7zU {
    display: flex;
    align-items: center;
    justify-content: center;
}
.U11LM8NyWNxtly6JH7zU>div{
    text-align: center;
    margin: 20px;
    width: 200px;
}
.U11LM8NyWNxtly6JH7zU .nZKmjEspN6k54fk10lkh {
    font-size: 20px;
    text-align: center;
    margin: 8px 0px 16px;
    white-space: nowrap;
}
.U11LM8NyWNxtly6JH7zU  .a7RTzlOH6xI_s_ZUa1_V i{
    font-size: 120px;
    padding: 30px;
    background-color: #eee;
}
h3{
    text-align: center;
}
/* .battle-form{
    display: flex;
    padding: 20px 50px;
} */
.cHZkdH76I04eLZ7EEvkl {
    display: flex;
    padding: 20px 50px;
}
.cHZkdH76I04eLZ7EEvkl>div{
    width: 50%;
    margin-left: 10px;
}
.cHZkdH76I04eLZ7EEvkl input {
    width: 60%;
    height: 40px;
}
.cHZkdH76I04eLZ7EEvkl button{
    width: 33%;
    height: 46px;
    margin-left: 3%;
}
.cHZkdH76I04eLZ7EEvkl .z8_iS0I9mAt_SiW37Thx {
    display: flex;
    align-items: center;
}
#_fXfP7cIGmwD64g1UIyb{
    display: inline-block;
    margin-left: 10px;

}
.cHZkdH76I04eLZ7EEvkl h3{
    text-align: left;
}
.nMPWj5cPZsCGPFoT4ptm{
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 4px;
    background-color: #dfdfdf;
    align-items: center;
}
.nMPWj5cPZsCGPFoT4ptm img{
    width: 64px;
    height: 64px;
    border-radius: 16px;
}
.nMPWj5cPZsCGPFoT4ptm .Ieee5M0sO9ELVTlCFLsA{
    flex: 1;
    display: flex;
    align-items: center;
}
.nMPWj5cPZsCGPFoT4ptm i{
    font-size: 36px;
    cursor: pointer;
}
.nMPWj5cPZsCGPFoT4ptm .Ieee5M0sO9ELVTlCFLsA span{
    font-size: 32px;
    color: #1890ff
}
.auuPWhyLfNhuW2QNDQKR{
    text-align: center;
}
.auuPWhyLfNhuW2QNDQKR button{
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 12px;
    cursor: pointer;
}

.X7P91Tl88aTubyjBoIVN{
    text-align: center;
}
.OyWDe4wgU5YQIGMiN1zf{
    font-size: 22px;
}
.XOVsX5fMro6OLUexa9bS{
    color: yellow;
}
.D3Qa2lxGHQj8UXWoqk88{
    color: gray;
}
._JSgWMxFAQEqXlQQKc0Z{
    color:rgb(255, 191, 116);
}
.O5xc36kYuQSzXCDzDJIQ{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.O5xc36kYuQSzXCDzDJIQ>div{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 32px;
    background-color: rgb(221, 221, 221);
    margin: 16px 128px;
}
.O5xc36kYuQSzXCDzDJIQ>div img{
    width: 200px;
    height: 200px;
    margin:0 0 15px;
}
.O5xc36kYuQSzXCDzDJIQ>div i{
    margin-right: 5px;
}

.oSB6boLKYo4uBUMbcYmE{
    text-align: center;
    font-size: 28px;
    margin: 10px auto;
}
.Oqbb0HAXvfuzxxHrS_mP{
    color: #1890ff;
    font-size: 24px;
    margin: 20px 0; 
}
._4n7aAkrIfVCCpLFWQmp{
    text-align: center;
    margin-top: 20px;
}
._4n7aAkrIfVCCpLFWQmp button{
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 12px;
    cursor: pointer;
}

@media (max-width: 900px){
    form {
        width: 100%;
    }
    .U11LM8NyWNxtly6JH7zU{
        display: block;
    }
    .U11LM8NyWNxtly6JH7zU>div{
        margin: auto;
    }
    .cHZkdH76I04eLZ7EEvkl{
        flex-wrap: wrap;
        padding: 20px 10px;
    }
    .cHZkdH76I04eLZ7EEvkl>div{
        width: 100%;
    }

    .O5xc36kYuQSzXCDzDJIQ>div{
        margin: 16px auto;
    }
    /* .result-center{
        display: block;
    }
    .result-center>div{
        margin: 16px auto;
    }
    .result-center img{
        width: 100% !important;
        height: 100% !important;
    } */
}
@media (max-width: 600px){
    .O5xc36kYuQSzXCDzDJIQ{
        display: block;
    }
    .O5xc36kYuQSzXCDzDJIQ img{
        width: 100% !important;
        height: 100% !important;
    }
}
/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/styles/index.less ***!
  \**********************************************************************************************************************************************************/
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}
a:hover {
  color: #1890ff;
}
a:active {
  color: #1890ff;
}
button:hover {
  color: #1890ff;
  cursor: pointer;
}


/*# sourceMappingURL=index.04f8dca6.css.map*/